# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.ist
*.lof
*.log
*.out
*.synctex.gz
*.toc
*.glg
*.gls
.synctex
documents/latex/*.pdf
main.tex

# Database
__pycache__/
db_name.txt
local.db
database/*.csv
database/*.png